<div flex="90" flex-offset="5">
    <div layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-media ng-show="vm.docDetails.Poster">
            <div class="md-media-lg card-media"<img ng-src="{{vm.docDetails.Poster}}"></div>
          </md-card-title-media>
          <md-card-title-text>
              <div ng-show="vm.docDetails.Error">
                <p>There are no additional details available for this video. Many docs on Daily Documentary are underground, personal, or day-of releases which is why you may not see additional info on all videos listed here.</p>

                <p>Although there are no additional details, you can still use the buttons below as usual to watch the doc, add to your timeline, or add to your watchlist.</p>
              </div>

              <p ng-show="vm.docDetails.Actors">Actors: {{vm.docDetails.Actors}}</p>
              <p ng-show="vm.docDetails.Plot">Plot: {{vm.docDetails.Plot}}</p>
              <p ng-show="vm.docDetails.imdbRating">Rating: {{vm.docDetails.imdbRating}}</p>
              <p ng-show="vm.docDetails.Awards">Awards: {{vm.docDetails.Awards}}</p>
          </md-card-title-text>
        </md-card-title>

        <md-card-actions layout-align="end" layout="row">
          <md-button ng-href="{{doc.url}}" target="_blank" aria-label="view">
            <md-icon md-svg-icon="./assets/view.svg"></md-icon>
            <md-tooltip>Watch Now</md-tooltip>
          </md-button>

          <md-button ng-click="vm.addToTimeline(doc.title)" aria-label="timeline">
            <md-icon md-svg-icon="./assets/timeline_black.svg"></md-icon>
            <md-tooltip>Watched</md-tooltip>
          </md-button>

          <md-button ng-click="vm.addToWatchlist(doc.title)" aria-label="watchlist">
            <md-icon md-svg-icon="./assets/watchlist.svg"></md-icon>
            <md-tooltip>Watch Later</md-tooltip>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>