<md-content layout-padding>
  <md-grid-list
      md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
      md-row-height-gt-md="4:3" md-row-height="4:3"
      md-gutter="10px">

    <md-grid-tile ng-repeat="doc in vm.docList" class="md-whiteframe-5dp">
      <!-- <img ng-src="{{doc.image}}" ui-sref="details({movie: vm.prettyUrl(doc.title)})"> -->
      <img ng-src="{{doc.image}}" ui-sref="details({movie: vm.prettyUrl(doc.title), docActions: doc})">
      <md-grid-tile-footer>
        <span class="grid-tile-title">
          {{doc.title}}
        </span>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</md-content>