<md-content flex layout-padding>
  <div class="jumbotron" flex-offset-gt-sm="10" flex-gt-sm="80">
    <h1 class="md-display-4 jumbotron-title">Daily Documentary</h1>
    <p class="md-display-1 jumbotron-body">Daily Documentary lists the current top 25 documentaries as voted on by reddit.com/r/documentaries and provides more information on each including year, plot, and rating.</p>
    <p class="md-display-1 jumbotron-body">After watching a doc, mark it as watched to add it to the timeline. See a doc but don't have the time to watch it now? Save it to your watchlist for later.</p>
    <center><md-button class="jumbotron-button" ui-sref="documentaries">See The Documentaries</a></md-button></center>
  </div>
</md-content>
