<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')"
    md-whiteframe="4" layout="column">

  <md-list>
    <md-list-item>
      <md-button ui-sref="documentaries">
        <md-icon md-svg-icon="./assets/view.svg"></md-icon>  Documentaries
      </md-button>
    </md-list-item>

    <md-list-item>

      <md-button ui-sref="profile">
        <md-icon md-svg-icon="./assets/profile.svg"></md-icon>  Profile
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ui-sref="profile.timeline">
        <md-icon md-svg-icon="./assets/timeline.svg"></md-icon>  Timeline
        </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ui-sref="profile.watchlist">
      <md-icon md-svg-icon="./assets/watchlist.svg"></md-icon>  Watchlist
      </md-button>
    </md-list-item>
  </md-list>
</md-sidenav>