<div flex="90" flex-offset="5">
  <h1>Timeline</h1>

  <md-input-container>
    <label>Search Timeline</label>
    <input ng-model="search" type="text">
  </md-input-container>

  <div layout="row" ng-repeat="doc in vm.timeline | filter:search">
    <div layout="column">
      <md-card>
        <md-card-title>
          <h4 ng-bind="doc.title"></h4>
        </md-card-title>
        <md-card-actions layout-align="end center">
          <md-button ng-click="vm.removeDoc(doc.id)" aria-label="remove">X</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>