md-sidenav md-icon {
  padding: 0px 10px 0px 3px;
}

.jumbotron-title {
  text-align: center;
  font-size: 90px;
}

.jumbotron-body {
  font-weight: 300;
}

.jumbotron-button {
  color: #FFFFFF;
  background-color: #6200ea;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
  padding: 10px 30px;
  font-weight: 400;
  font-size: 20px;
  text-transform: none;
  text-align: center;
}

.jumbotron-button:not([disabled]):hover {
  background-color: #512DA8;
  transition: 0.3s;
}