md-sidenav md-icon {
  padding: 0px 10px 0px 3px;
}

.jumbotron-title {
  text-align: center;
  font-size: 90px;
}

.jumbotron-body {
  font-weight: 300;
}

.jumbotron-button {
  color: #FFFFFF;
  background-color: #6200ea;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
  padding: 10px 30px;
  font-weight: 400;
  font-size: 20px;
  text-transform: none;
  text-align: center;
}

.jumbotron-button:not([disabled]):hover {
  background-color: #512DA8;
  transition: 0.3s;
}

timeline-panel:after {
    position: absolute;
    top: 36px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

timeline-panel:before {
    position: absolute;
    top: 35px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

timeline-badge {
  background-color: #6200ea;
}

