md-toast {
z-index: 10000;
}
.md-fixed-top {
position: fixed;
top: 66px; // size of my navbar + 16px
}

.md-fixed-right {
position: fixed;
right: 16px;
}

.md-fixed-left {
position: fixed;
top: 66px; // size of my navbar + 16px
}

.md-fixed-bottom {
position: fixed;
right: 16px;
}

