<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu">
      <md-icon md-svg-icon="./assets/menu.svg"></md-icon>
    </md-button>
    <h2>
      <a ui-sref="home"><span>Daily Documentary</span></a>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Happy">
      <md-icon md-svg-icon="./assets/happy.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Share">
      <md-icon md-svg-icon="./assets/share.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>