  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="home" name="home">DailyDocumentary</md-nav-item>
    <span flex></span>
    <md-nav-item md-nav-sref="documentaries" name="documentaries">Documentaries</md-nav-item>
    <md-nav-item md-nav-sref="profile" name="profile">Profile</md-nav-item>
    <md-nav-item md-nav-sref="profile.timeline" name="timeline">Timeline</md-nav-item>
    <md-nav-item md-nav-sref="profile.watchlist" name="watchlist">Watchlist</md-nav-item>
  </md-nav-bar>