<!DOCTYPE html>
<html ng-app="dailyDocumentary">
  <head>
    <title>DailyDocumentary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <base href="/">
  </head>

  <body layout="column" ng-controller="AppController as vm">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="menu" ng-click="vm.toggleNav()">
          <md-icon md-svg-icon="./assets/menu.svg"></md-icon>
        </md-button>
        <h2>
          <a ui-sref="home"><span>Daily Documentary</span></a>
        </h2>
        <span flex></span>
        <h2>{{vm.happyCount}}</h2>
        <md-button class="md-icon-button" aria-label="happy" ng-click="vm.happyChange()">
          <md-icon md-svg-icon="./assets/happy.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="share">
          <md-icon md-svg-icon="./assets/share.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content layout="row">
      <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-whiteframe="4" layout="column">

        <md-list>
          <md-list-item>
            <md-button ui-sref="documentaries" ng-click="vm.toggleNav()">
              <md-icon md-svg-icon="./assets/view.svg"></md-icon>  Documentaries
            </md-button>
          </md-list-item>

          <md-list-item>

            <md-button ui-sref="profile" ng-click="vm.toggleNav()">
              <md-icon md-svg-icon="./assets/profile.svg"></md-icon>  Profile
            </md-button>
          </md-list-item>

          <md-list-item>
            <md-button ui-sref="profile.timeline" ng-click="vm.toggleNav()">
              <md-icon md-svg-icon="./assets/timeline.svg"></md-icon>  Timeline
              </md-button>
          </md-list-item>

          <md-list-item>
            <md-button ui-sref="profile.watchlist" ng-click="vm.toggleNav()">
            <md-icon md-svg-icon="./assets/watchlist.svg"></md-icon>  Watchlist
            </md-button>
          </md-list-item>
        </md-list>
      </md-sidenav>

      <md-content flex>
        <ui-view></ui-view>
      </md-content>
    </md-content>
  </body>
</html>