<!DOCTYPE html>
<html ng-app="dailyDocumentary">
  <head>
    <title>DailyDocumentary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <base href="/">
  </head>

  <body layout="column">
    <%= render "layouts/navigation" %>
    <md-content flex>
      <ui-view></ui-view>
    </md-content>
  </body>
</html>