<!DOCTYPE html>
<html ng-app="dailyDocumentary">
  <head>
    <title>DailyDocumentary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <base href="/">
  </head>

  <body>
    <%= render 'layouts/navigation.html' %>
    <ui-view></ui-view>
  </body>
</html>
